*{
    box-sizing: border-box;
    padding: 0
}

/* SIDEBAR */
#sideBar{
    display: flex;
    flex-direction: column;
}
div#avatar{
    height: 300px;
    width: 300px;
    border: 1px red solid;
    position: relative;
}
.spinner-border{
    color: gray;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 10;
}
#error{
    margin: 40% auto;
    text-align: center;
}

/* CONTENT */
#content{
    border: blue 1px solid
}

.half-opacity{
    opacity: 50%;
}